@import './styles/normilize.css';

@font-face {
  font-family: "Source Sans Pro"; 
  src: url("./fonts/SourceSansPro-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Source Sans Pro Bold"; 
  src: url("./fonts/SourceSansPro-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

* {
  box-sizing: border-box;
  font-family: Source Sans Pro, sans-serif;
  color: #354052;
  margin: 0;
}

.App {
  display: flex;
  background-color: #eff3f6;

  &__menu {
    width: 350px;
    height: 100vh;
    z-index: 1;
  }
}

.main {
  display: flex;
  padding: 30px 30px;
  gap: 20px;

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__user {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
