@import '../../styles/vars';

.menu {
  height: 100vh;
  background-color: $backgroundUserList;

  display: flex;
  position: fixed;

  &__primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__user-list {
    width: 100px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: $textColorWhite;

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 30px 0;

    cursor: pointer;
  }

  &__item {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    filter: brightness(50%);
  }

  &__item:hover::before,
  &__item:focus::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;

    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 1px $notificationColor;

    box-shadow: 0px 0px 10px 1px $notificationColor;
    background-color: $notificationColor;

    left: -55%;
    top: 50%;
  }

  &__item:hover,
  &__item:focus {
    filter: brightness(100%);
  }
}

.btn {
  display: flex;
  justify-content: center;
  padding: 25px;

  &__grid,
  &__settings {
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s;
    cursor: pointer;
  }

  &__grid:hover,
  &__settings:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px $notificationColor, 0 0 15px $notificationColor;
  }
}
